.delivery1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: #fff;
  border-radius: 10px;
}

.delivery1 img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.delivery1 p {
  color: #6b6767;
  padding: 0 20px 0 20px;
}
.delivery1 h2 {
  text-align: left;
  width: 90%;
  font-size: 18px;
  /* padding: 0 20px 0 20px !important; */
}
#Header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 50px;
}

.deliveries {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.Slideshow {
  background: #f3f3f3;
  padding: 50px;
}

#Header h1 {
  font-size: 30px;
  font-weight: 700;
}

.learn{
  padding-left: 20px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .Slideshow {
    background: #f3f3f3;
    padding: 2rem;
    
  }
  
  #Header h1 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  #Header p {
    font-size: 0.8rem;
    line-height: 1rem;
    padding-top: 0.5rem;
  }

  .deliveries {
    display: flex;
    flex-direction: column;
  }

  .delivery1 h2 {
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  .delivery1 p {
    font-size: 0.8rem;
  }
  .learn {
    align-content: center;
  }
}
 
