#Img {
  width: 264px;
  height: 440px;
  border-radius: 40px;
  padding-top: 96px;
  padding-left: 260px;
}
.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.red {
  text-transform: uppercase;
  color: #f7646a;
  font-weight: 400;
  font-size: 11px;
}

#info h1 {
  color: #080202;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin: 10px 0 10px 0;
}
#info .info-b {
  color: #080202;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
}
#info .full-info {
  color: #524e4e;
  font-weight: 300;
  font-size: 13px;
}

.text-white1{
  width: 137px;
  height: 52px;
  gap: 8px;
  padding: 14px, 24px 14px, 24px;
  background-color: #f3161f;
  color: white;
  border-radius: 8px;
  margin-top: 25px;
}


@media (max-width: 767px) {
  .Hero {
    display:inline-block;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .red {
    text-transform: uppercase;
    color: #f7646a;
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 1rem;
  }

  #info h1 {
    color: #080202;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1;
    margin:1rem 0rem;
  }
  #info .info-b {
    color: #080202;
    font-weight: 500;
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  #info .full-info {
    color: #524e4e;
    font-weight: 300;
    font-size: 0.5rem;
    justify-items: center;
  }
  
  .text-white1{
  width: 5rem;
  height: 2rem;
  background-color: #f3161f;
  color: white;
  border-radius: 8px;
  font-size:0.6rem;
  margin-top: 1rem;
  }
}