.Heading{
    color: #F7646A;
    text-align: center;
    font-family:"Poppins";
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
}
.subheading{
    text-align: center;
    font-weight: bolder;
}

@media (max-width: 767px) {
    .Heading{
        font-size: 0.6rem;
        padding-top: 1rem;
    }
    .subheading{
        font-size: 0.8rem;
        line-height: 1.2;
        justify-content: center;
        padding: 1rem 2rem;
    }

    .testimony{
        padding: 1rem;
    }
}