
/* black container */
.appSection{
    background: #080202;
    display: flex;
    padding: 100px 64px;
    color: #fff;
    border-radius: 40px;
    width:1200px;
    height:450px;
    justify-content: space-between;
    margin:0 auto;
}
.H{
    height: 200px;
    width: 400px;
    margin-top: -119px;
    justify-content: center;
    margin-left: 280px; 
}

.Hgreen{
    height: 200px;
    width: 399px;
    margin-top: -0px;
    margin-left: 26px;     
}

.font{
    font-weight: 50px;
    font-size:30px;
}
.sub{
    padding: 10px;
    font-weight: 5px;
}

@media (max-width: 767px) {
    .appSection{
        width: 90%;
        height: 100%;
        padding: 0.5rem 0.1rem;
        display: flex;
        border-radius: 1rem;
        justify-content: space-between;
    }

    .H{
        height:700%;
        width: 900%;
        margin-top: -1.3rem;
        justify-content: center;
        margin-left: 4rem;  
    }

    .Hgreen{
        height: 700%;
        width: 900%;
        margin-top: 0.5rem;
        margin-left:0.2rem;
        padding-right: 0rem;
        margin-right: 0rem;
    }
    .textContainer{
        width: 100%;
        height: 100%;
        padding-left: 0.5rem;
    }
    .font{
        font-weight: bold;
        font-size:0.5rem;
        width: 200%;
    }
    .sub{
        font-size: 0.4rem;
        padding-left: 0rem;
        width: 200%;
    }

    .ios{
        width: 4rem;
        margin-top: -0.2rem;
    }

}